@page
@model PistasPadel.Pages.ConfirmarCancelacionModel
@{
    ViewData["Title"] = "ConfirmarCancelacion";
}

<div class="text-center">
    <p>¿Está seguro de que quiere CANCELAR su reserva?</p>
    <a class="btn btn-success" asp-page="ReservasPistas">SÍ</a>
    <a class="btn btn-danger" asp-page="ReservasPistas">NO</a>
</div>

