@page
@model PistasPadel.Pages.ConfirmarReservaModel
@{
    ViewData["Title"] = "ConfirmarReserva";
}

<div class="text-center">
    <p>Reservar la pista [numero pista] para el día [dia del mes] de [mes] de [hora de inicio] a [hora de finalizacion]</p>
    <a class="btn btn-success" asp-page="ReservasPistas">SÍ</a>
    <a class="btn btn-danger" asp-page="SalirSinReserva">NO</a>
</div>

