@page
@model PistasPadel.Pages.ConfirmarCancelacionModel
@{
    ViewData["Title"] = "ConfirmarCancelacion";
}

<br />
<p>¿Está seguro de que quiere CANCELAR su reserva?</p>
<div>
    <a class="btn btn-success" asp-page="ReservasPistas">SÍ</a>
    <a class="btn btn-danger" asp-page="ReservasPistas">NO</a>
</div>

