@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*Este boton es temporal, cuando se añada la pantalla de inicio de sesiom se podra quitar*@
    <a class="btn btn-dark" asp-page="ReservasPistas">Ir a reservas</a>
    <a class="btn btn-dark" asp-page="ConfirmarCancelacion">Ir a confirmar cancelacion de reservas</a>

</div>
