@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio Sesión";
}

@*<link rel="stylesheet" type="text/css" href="~/css/index.css">*@

@*<div class="text-center">
    <img src="~/image/padel.png" id="logo" />
</div>*@
<div id="divPadre">
    <div class="text-light text-center" id="divHijo">
        <br />
        <h3 class="text-light">Inicio Sesión</h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container" style="padding:30px;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5">
                            <label asp-for="Cliente.User"></label>
                        </div>
                        <div class="col-sm-4">
                            <input name="NombreUsuario" asp-for="Cliente.User" class="form-control" id="usuario" />@* *@
                        </div>
                        <span asp-validation-for="Cliente.User" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-5">
                            <label asp-for="Cliente.Password"></label>
                        </div>
                        <div class="col-sm-4">
                            <input type="password" name="ContraseñaUsuario" asp-for="Cliente.Password" class="form-control" id="contrasena" />@**@
                        </div>
                        <span asp-validation-for="Cliente.Password" class="text-danger"></span>
                    </div>
                </div>

                <div>
                    <div class="col-sm-4">
                        <input type="submit" value="Inicio" asp-for="Cliente.User" class="btn btn-success form-control" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>