@page
@model PistasPadel.Pages.ReservasPistasModel
@{
    ViewData["Title"] = "ReservasPistas";
}

<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Reservas Pistas</h2>
    </div>
    <br />
</div>
<br />
<div class="4">
    <input type="date" id="fecha"/>
</div>
<br />

<div style="padding: 4px;
            width: 100%;
            height: 550px;
            overflow: auto;">

    @*Bucle que crea el la tabla con el horario de 9:00 a 21:00*@
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>Hora</th>
            <th>Estado</th>
            <th>Reservas</th>
        </tr>

        @for (var i = 9; i <= 21; i++)
        {
            <tr>
                <td>@i:00</td>
                <td id="@i-h">Libre</td>
                <td>
                    <a class="btn btn-success btn-sm" style="color:white" onclick="reserva(this, '@i-h')">Reservar</a>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    // Formato de la fecha actual
    var fecha = document.querySelector('input[type="date"]');

    function formatoFecha() {
        let date = new Date();
        let year = date.getFullYear().toString();
        let day = date.getDate().toString();
        let month = date.getMonth() + 1;
        if (month < 9) {
            return year + "-0" + month.toString() + "-" + day;
        } else {
            return year + "-" + month + "-" + day;
        }
        
    }
    fecha.value = formatoFecha();

    // Cambio de estilo de Libre a Reservado
    function reserva(elmnt, id) {
        let element = document.getElementById(id);
        element.style.background = "purple";
        element.style.color = "white";
        element.innerHTML = "Reservado";

        element.previousElementSibling.style.background = "purple";
        element.previousElementSibling.style.color = "white";

        elmnt.className = "btn btn-danger btn-sm";
        elmnt.innerHTML = "Cancelar";
    }
</script>