@page
@model PistasPadel.Pages.SalirSinReservaModel
@{
    ViewData["Title"] = "SalirSinReserva";
}

<div class="text-center">
    <p>¿Estás seguro de que quieres salir sin hacer la reserva?</p>
    <a class="btn btn-success" asp-page="ReservasPistas">SÍ</a>
    <a class="btn btn-danger" asp-page="ConfirmarReserva">NO</a>
</div>

