#divPadre {
    display: flex;
    justify-content: center;
    align-items: center
}

#divHijo {
    height: 350px;
    width: 500px;
    border-top-width: 5px
}

#usuario, #contrasena {
    border: none;
    border-bottom: 2px solid white;
    background-color: #1F48CF;
    outline: none;
}

#logo {
    width: 250px;
    height: 250px;
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.7));
}